# IDE Files
**/.vscode/
**/.ionide/
**/.ipynb_checkpoints/

# IDE Specific
*.db
tempCodeRunnerFile.py

# Standard python
__pycache__/
*.pyc

# Folder of calbrating images that should be different per person
calibrate_images/

# Debug Images / Files
*.png
*.txt

# Helper files I created that don't need to be in the main repo
rename.py
calibrate_camera.py