# IDE Files
**/.vscode/
**/.ionide/
**/.ipynb_checkpoints/

# IDE Specific
*.db
tempCodeRunnerFile.py

# Standard python
__pycache__/
*.pyc

# Camera intrinsics that's different for each camera
*.npy

# Debug Images and Files
*.png
*.txt

# Helper files I created that don't need to be in the main repo
rename.py

# The range-finder to grab colour ranges
range-detector.py

# Calibration pictures
calibrate_images/

# mp4 videos
test_throw.mp4
test_throw2.mp4
output.avi